.listBox
{
  border: none;
  overflow: inherit;
  height: 100%!important;
  background: none;
  padding:6px 0;
  box-shadow: none;
}

.listBox:active, .listBox:focus
{
  box-shadow: none;
}

.list-group-item
{
  text-align:left;
  padding-left:30px!important;
  margin-bottom: 5px!important;
}

#selectAll 
{
  float:left;
}

#buttonDelete 
{
  float:right;
}

.main-container
{
  margin-top:50px;
}

.regexpListElement
{
  color:#555;
  opacity: 0.7;
}

#addTestButton 
{
  float: right;
}